
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    z-index: 10;
    display: block;
    position: fixed;
    height: 120px;
    width: 100%;
    background: #141E33;
    display: flex;
    justify-content: center;
    align-items: center;

}

#text{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: flex;
    color: white;
    width: 1200px; 
    justify-content: space-around;
}

.ele:hover{
    color:#FBB040;
}

.cont{
    
    border:solid black ;
    width: 1080px;
    
   margin: auto;
   position: relative;
   top: 120px;

   display: grid;
   grid-template-columns: repeat(4, 270px);
   grid-template-rows: 430px 380px 140px ;
   grid-gap: 2px;

   grid-template-areas: 
   "hero hero main1 main2"
   "co1 co2 cowide cowide"
   "footer1 footer1 footer2 footer2";

}

.card{
    border: solid black;
}

.card1{
    grid-area: hero;
    background-image: url("pics/ali.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#FBB040;
    display: flex;
    align-items: flex-end;
}

.card1 p{
    margin:20px;
    font-size: 20px;
    font-weight: bolder;
}

.card6{
    grid-area:cowide;
}

.card7{
    grid-area: footer1;
}

.card8{
    grid-area: footer2;
}